trigger:
  branches:
    include:
    - master  # Adjust the branch name as per your needs

pool:
  vmImage: 'ubuntu-latest'  # Use a suitable image depending on your requirements

steps:
- script: |
    python -m pip install --upgrade pip
    pip install openpyxl
    pip install -r auto_heal/requirements.txt  # If you have any Python package dependencies, list them in requirements.txt
    python auto_heal/your_selenium_script.py  # Replace "your_selenium_script.py" with your actual Python script name
  displayName: 'Run Selenium Test'
